.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  bottom: 20px;
  & h3 {
    position: absolute;

    //   bottom: -40px;
    //   left: 70px;
    // position: relative;
    // right: 48px;
    // bottom: 55px;

    bottom: -30px;
    left: 45px;

    font-size: 12px;
    text-align: center;
    font-weight: 300;
    font-family: Inter;
    line-height: 20px;
  }
  & h3.enviromental {
    position: absolute;

    //   bottom: -40px;
    //   left: 70px;
    // position: relative;
    // right: 48px;
    // bottom: 55px;

    bottom: -30px;
    left: 20px;

    font-size: 12px;
    text-align: center;
    font-weight: 300;
    font-family: Inter;
    line-height: 20px;
  }
  & p {
    position: absolute;
    // left: 85px;
    // bottom: 190px;
    top: 34px;
    right: 31px;

    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
  }
}

.top_line,
.bottom_line {
  position: absolute;
  //   left: 50%;
  // transform: translateX(-50%);
  z-index: 1;
}

.top_line {
  top: 25px;
  right: 8px;
}

.bottom_line {
  //   bottom: 38px;
  //   bottom: 96px;
  bottom: 26px;
  right: 8px;
}
