.container {
  display: flex;
  gap: 4px;

  &_leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }

  &_rightSide {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
