.other_content {
  display: flex;
  gap: 8px;

  width: 1300px;

  &_block {
    display: flex;
    gap: 10px;
  }

  @media (max-width: 1600px) {
    flex-direction: column;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &_top {
    display: flex;
    gap: 8px;

    @media (max-width: 1240px) {
      & section:nth-child(4) {
        display: none;
      }
    }

    &_buttons {
      display: flex;
      gap: 4px;
    }
  }

  &_middle {
    display: flex;
    gap: 8px;
  }

  &_bottom {
    display: flex;
    gap: 8px;

    @media (max-width: 1240px) {
      & section:nth-child(3) {
        display: none;
      }
    }
  }

  &_ipad {
    display: none;

    @media (max-width: 1240px) {
      display: flex;
      gap: 20px;
    }
  }
}
