.container {
  &_hours {
    display: flex;
    justify-content: space-between;
    & p {
      display: flex;
      align-items: center;
      gap: 8px;
      & div {
        cursor: pointer;
      }
      & div:nth-child(2) img {
        rotate: (180deg);
      }
    }
    position: relative;
    bottom: 20px;
  }

  &_details {
    display: flex;
    gap: 4px;
    justify-content: space-between;

    width: 320px;
    overflow-x: auto;
    overflow-y: hidden;

    &_text {
      position: relative;
      top: 2px;
    }

    &::-webkit-scrollbar {
      height: 2px !important;
    }

    & div {
      font-size: 12px;
      font-weight: 600;
      text-wrap: nowrap;
    }
    position: relative;
    bottom: 28px;
  }
}

.disabled_image {
  opacity: 0.4;
}
