.container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &_chart {
    display: flex;
  }

  &_arrows {
    display: flex;
    justify-content: end;
    gap: 8px;
    & img:nth-child(2) {
      rotate: (180deg);
    }
  }
}
